<tr>
    <td class="col-sm-1"><strong>ID</strong></td>
    <td class="col-sm-3"><strong>Name</strong></td>
    <td class="col-sm-1 text-center"><strong>Short name</strong></td>
    <td class="col-sm-1 text-center"><strong>Year</strong></td>
    <td class="col-sm-2"><strong>Developer</strong></td>
    <td class="col-sm-1 text-center"><strong>Genre</strong></td>
    <td class="col-sm-1 text-center"><strong>Status</strong></td>
    <td class="col-sm-1 text-center"><strong>Instances</strong></td>
    <td class="col-sm-1"><strong>Last played</strong></td>
</tr>