<tr class="{% if instance.is_complete == True %}is-complete{% endif %}">
    <td class="col-sm-1">{{ instance.id }}</td>
    <td class="col-sm-4"><a href="{{ url_for('detail_instance', id=instance.id) }}">{{ instance.name_full }}</a></td>
    <td class="col-sm-2">{{ instance.name_nickname }}</td>
    <td class="col-sm-2 text-center {% if instance.type.color_hex %}colored-row{% endif %}" {% if instance.type.color_hex %}bgcolor="{{ instance.type.color_hex }}"{% endif %}">{{ instance.get_instance_type() }}</td>
    <td class="col-sm-1 text-center">{{ instance.get_is_complete() }}</td>
    <td class="col-sm-2"><a href="{{ url_for('detail_game', id=instance.game.id) }}">{{ instance.game.name_display }}</a></td>
</tr>