<tr>
    <td class="col-sm-1">{{ transmission.id }}</td>
    <td class="col-sm-6"><a href="{{ url_for('detail_transmission', id=transmission.id) }}">{{ transmission.name_display }}</a></td>
    <td class="col-sm-1">{{ transmission.no_of_gears }}</td>
    <td class="col-sm-1">{{ transmission.type.name }}</td>
    <td class="col-sm-2">{% if transmission.get_manufacturer_name_display() != "n/a" %}<a href="{{ url_for('detail_company', id=transmission.manufacturer_id) }}">{{ transmission.get_manufacturer_name_display() }}</a>{% else %}{{ transmission.get_manufacturer_name_display() }}{% endif %}</td>
</tr>