{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Car Database{% else %}Pan Vidla's Car Database{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{ url_for('static', filename='css/car-database.css') }}" rel="stylesheet">
{% endblock %}

<!-- Menu -->
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="hover-underline-animation" href="{{ url_for('overview_games') }}">Games</a></li>
                    <li><a class="hover-underline-animation" href="{{ url_for('overview_cars') }}">Cars</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('overview_engines') }}">Engines</a></li>
                          <li><a href="{{ url_for('overview_forced_induction') }}">Forced induction</a></li>
                          <li><a href="{{ url_for('overview_suspensions') }}">Suspension</a></li>
                          <li><a href="{{ url_for('overview_transmissions') }}">Transmission</a></li>
                        </ul>
                    </li>
                    {% if get_games_in_progress() == [] %}
                    <li><a class="hover-underline-animation" href="{{ url_for('overview_instances') }}">Instances</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instances <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('overview_instances') }}">All instances</a></li>
                          <li role="presentation" class="divider"></li>
                          {% for game in get_games_in_progress() %}
                            {% if game.name_full == "Crazy Taxi" %}
                            <li><a href="{{ url_for('crazy_taxi.crazy_taxi_1.overview_instances') }}">{{ game.name_display }}</a></li>
                            {% elif game.name_full == "Need for Speed III: Hot Pursuit" %}
                            <li><a href="{{ url_for('need_for_speed.iii_hot_pursuit.overview_instances') }}">{{ game.name_display }}</a></li>
                            {% else %}
                            <li><a href="#">{{ game.name_display }}</a></li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li><a class="hover-underline-animation" href="{{ url_for('overview_companies') }}">Companies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Miscellaneous <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ url_for('overview_competitions') }}">Competitions</a></li>
                          <li><a href="{{ url_for('overview_countries') }}">Countries</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">{% if current_user.is_anonymous %}<a href="{{ url_for('login') }}" class="navbar-link">Log in</a>{% else %}{{ current_user.username }} | <a href="{{ url_for('logout') }}" class="navbar-link">Log out</a>{% endif %}</p>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block cardb_content %}
        {% endblock %}
    </div>
{% endblock %}