{% extends "cars_base.html" %}

{% block cars_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if cars == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no cars in the database.</b></td>
            </tr>
            {% else %}
            {% include "_cars_top.html" %}
                {% for car in cars %}
                    {% with car=car %}
                        {% include "_cars_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}