{% extends "cars_base.html" %}

{% block cars_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if engine_layout %}
                        <li><a href="{{ url_for('edit_engine_layout', id=engine_layout.id) }}"><button type="button" class="btn btn-info">Edit engine layout</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete engine layout</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Name</b></div>
                  <div class="col-sm-10">{{ engine_layout.name }}</div>
              </div>
          </div>
        </div>
    </div>

    <!--  Relationships  -->
    <!--  Cars  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cars</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if cars == [] %}
              <tr>
                  <td class="text-center"><strong>There are no cars with this engine layout in the database.</strong></td>
              </tr>
              {% else %}
                {% include "_cars_top.html" %}
                {% for car in cars %}
                    {% with car=car %}
                        {% include "_cars_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Instances  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instances</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if instances == [] %}
              <tr>
                  <td class="text-center"><strong>There are no instances with this engine layout in the database.</strong></td>
              </tr>
              {% else %}
                {% include "_instances_top.html" %}
                {% for instance in instances %}
                    {% with instance=instance %}
                        {% include "_instances_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete engine_layout</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete the engine layout "{{ engine_layout.name }}"? This action cannot be undone.</p>
              <p>Deleting a engine layout with cars assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_engine_layout', id=engine_layout.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}