{% extends "base.html" %}

{% block cardb_content %}

    <!--  Heading  -->
    <div class="page-header">
        <h1>{{ heading }}</h1>
    </div>

    <!-- Submenu -->
    {% block submenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_cars') }}">All cars</a></li>
                        {% if viewing == "aspiration" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_aspiration') }}"><strong>Add aspiration</strong></a></li>
                        {% endif %}
                        {% if viewing == "assists" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_assist') }}"><strong>Add assist</strong></a></li>
                        {% endif %}
                        {% if viewing == "body_styles" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_body_style') }}"><strong>Add body style</strong></a></li>
                        {% endif %}
                        {% if viewing == "cars" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_car_1') }}"><strong>Add car</strong></a></li>
                        {% endif %}
                        {% if viewing == "car_classes" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_car_class') }}"><strong>Add car class</strong></a></li>
                        {% endif %}
                        {% if viewing == "drivetrains" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_drivetrain') }}"><strong>Add drivetrain</strong></a></li>
                        {% endif %}
                        {% if viewing == "engine_layouts" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_engine_layout') }}"><strong>Add engine layout</strong></a></li>
                        {% endif %}
                        {% if viewing == "fuels" %}
                        <li><a class="hover-underline-animation" href="{{ url_for('add_fuel') }}"><strong>Add fuel type</strong></a></li>
                        {% endif %}

                        <li><a class="hover-underline-animation" href="{{ url_for('overview_aspiration') }}">Aspiration</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_assists') }}">Assists</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_body_styles') }}">Body styles</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_car_classes') }}">Car classes</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_drivetrains') }}">Drivetrains</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_engine_layouts') }}">Engine layouts</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_fuels') }}">Fuel types</a></li>
                        {% if aspiration %}
                        <li class="active"><a href="#">{{ aspiration.name }}</a></li>
                        {% endif %}
                        {% if assist %}
                        <li class="active"><a href="#">{{ assist.name_full }}</a></li>
                        {% endif %}
                        {% if body_style %}
                        <li class="active"><a href="#">{{ body_style.name }}</a></li>
                        {% endif %}
                        {% if car %}
                        {% if car.get_name_short() != "n/a" %}
                        <li class="active"><a href="#">{{ car.name_short }}</a></li>
                        {% else %}
                        <li class="active"><a href="#">{{ car.name_display }}</a></li>
                        {% endif %}
                        {% endif %}
                        {% if car_class %}
                        <li class="active"><a href="#">{{ car_class.name_custom }}</a></li>
                        {% endif %}
                        {% if drivetrain %}
                        <li class="active"><a href="#">{{ drivetrain.name_full }}</a></li>
                        {% endif %}
                        {% if engine_layout %}
                        <li class="active"><a href="#">{{ engine_layout.name }}</a></li>
                        {% endif %}
                        {% if fuel %}
                        <li class="active"><a href="#">{{ fuel.name }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block cars_content %}
    {% endblock %}

{% endblock %}