{% extends "companies_base.html" %}

{% block companies_content %}

    <div>
        <table class="table table-hover table-striped table-bordered table-condensed">

            {% if companies == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no companies in the database.</b></td>
            </tr>
            {% else %}
            {% include "_companies_top.html" %}
                {% for company in companies %}
                    {% with company=company %}
                        {% include "_companies_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}