{% extends "base.html" %}

{% block cardb_content %}

    <!--  Heading  -->
    <div class="page-header">
        <h1>{{ heading }}</h1>
        {% if company %}<span class="help-block">{{ company.description }}</span>{% endif %}
    </div>

    <!-- Submenu -->
    {% block submenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_companies') }}">All companies</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('add_company') }}"><b>Add company</b></a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_companies_developers') }}">Developers</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_companies_car_manufacturers') }}">Car manufacturers</a></li>
                        <li><a class="hover-underline-animation" href="{{ url_for('overview_companies_car_part_manufacturers') }}">Part manufacturers</a></li>
                        {% if company %}
                        <li class="active"><a href="#">{{ company.name_display }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block companies_content %}
    {% endblock %}

{% endblock %}