{% extends "companies_base.html" %}

{% block companies_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if company %}
                        <li><a href="{{ url_for('edit_company', id=company.id) }}"><button type="button" class="btn btn-info">Edit company</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete company</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Display name</b></div>
                  <div class="col-sm-4">{{ company.name_display }}</div>
                  <div class="col-sm-2 text-right"><b>Owner</b></div>
                  <div class="col-sm-4">{% if company.get_owner() != "n/a" %}<a href="{{ url_for('detail_company', id=company.owner.id) }}">{{ company.get_owner() }}</a>{% else %}{{ company.get_owner() }}{% endif %}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Short name</b></div>
                  <div class="col-sm-4">{{ company.get_name_short() }}</div>
                  <div class="col-sm-2 text-right"><b>Country</b></div>
                  <div class="col-sm-4"><a href="{{ url_for('detail_country', id=company.country.id) }}">{{ company.country.name_display }}</a></div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Established</b></div>
                  <div class="col-sm-4">{{ company.get_established() }}</div>
                  <div class="col-sm-2 text-right"><b>Ceased to exist</b></div>
                  <div class="col-sm-4">{{ company.get_ceased_to_exist() }}</div>
              </div>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subject of business</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-striped table-bordered">
              <tr>
                  <td class="text-center"><strong>Game developer</strong></td>
                  <td class="text-center"><strong>Car manufacturer</strong></td>
                  <td class="text-center"><strong>Parts manufacturer</strong></td>
              </tr>
              <tr>
                  <td class="text-center {% if company.is_game_developer %}true-neutral{% else %}false-neutral{% endif %}">{{ company.is_game_company() }}</td>
                  <td class="text-center {% if company.is_car_manufacturer %}true-neutral{% else %}false-neutral{% endif %}">{{ company.is_car_company() }}</td>
                  <td class="text-center {% if company.is_car_part_manufacturer %}true-neutral{% else %}false-neutral{% endif %}">{{ company.is_part_company() }}</td>
              </tr>
          </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Subsidiaries</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-striped table-bordered">
              {% if company.owned_companies == [] %}
              <tr>
                  <td class="text-center"><strong>This company doesn't own any other companies.</strong></td>
              </tr>
              {% else %}
              <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-2"><strong>Name</strong></td>
                <td class="col-sm-1"><strong>Short name</strong></td>
                <td class="col-sm-2"><strong>Country</strong></td>
                <td class="col-sm-2"><strong>Description</strong></td>
                <td class="col-sm-1"><strong>Dev</strong></td>
                <td class="col-sm-1"><strong>Cars</strong></td>
                <td class="col-sm-1"><strong>Parts</strong></td>
            </tr>

                {% for company in company.owned_companies %}
            <tr>
                <td class="col-sm-1">{{ company.id }}</td>
                <td class="col-sm-2"><a href="{{ url_for('detail_company', id=company.id) }}">{{ company.name_display }}</a></td>
                <td class="col-sm-1">{{ company.get_name_short() }}</td>
                <td class="col-sm-2">{{ company.country.name_display }}</td>
                <td class="col-sm-2">{{ company.description }}</td>
                <td class="col-sm-1">{{ company.is_game_company() }}</td>
                <td class="col-sm-1">{{ company.is_car_company() }}</td>
                <td class="col-sm-1">{{ company.is_part_company() }}</td>
            </tr>
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    {% if company.is_game_developer == True %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Games</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-striped table-bordered">
              {% if company.games.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no games developed by this company in the database.</strong></td>
              </tr>
              {% else %}
              <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-3"><strong>Name</strong></td>
                <td class="col-sm-1"><strong>Short name</strong></td>
                <td class="col-sm-1"><strong>Year</strong></td>
                <td class="col-sm-2"><strong>Series</strong></td>
                <td class="col-sm-1"><strong>Genre</strong></td>
                <td class="col-sm-1"><strong>Status</strong></td>
                <td class="col-sm-1"><strong>Instances</strong></td>
                <td class="col-sm-1"><strong>Last played</strong></td>
            </tr>

                {% for game in company.games %}
            <tr>
                <td class="col-sm-1">{{ game.id }}</td>
                <td class="col-sm-3"><a href="{{ url_for('detail_game', id=game.id) }}">{{ game.name_display }}</a></td>
                <td class="col-sm-1">{{ game.name_short }}</td>
                <td class="col-sm-1">{{ game.get_year_released() }}</td>
                <td class="col-sm-2">{% if game.get_series() != "n/a" %}<a href="{{ url_for('detail_game_series', id=game.series.id) }}">{{ game.get_series() }}</a>{% else %}{{ game.get_series() }}{% endif %}</td>
                <td class="col-sm-1 {% if game.genre != None %}{{ game.genre.get_css_name() }}{% endif %}">{{ game.genre.name }}</td>
                <td class="col-sm-1 {% if game.state != None %}{{ game.state.get_css_name() }}{% endif %}">{{ game.get_state() }}</td>
                <td class="col-sm-1">{{ game.no_of_instances }}</td>
                <td class="col-sm-1">{{ game.get_last_played_date() }}</td>
            </tr>
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>
    {% endif %}

    <!--  Modals  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete company</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ company.name_display }}? This action cannot be undone.</p>
              <p>Deleting a company with games, cars or parts assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_company', id=company.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}