{% extends "events_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block events_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if event_type %}
                        <li><a href="{{ url_for('edit_event_type', id=event_type.id) }}"><button type="button" class="btn btn-primary">Edit event type</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addRuleModal">Add rule</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete event type</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <!--  General information  -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Name</b></div>
                  <div class="col-sm-4">{{ event_type.name }}</div>
                  <div class="col-sm-1 text-right"><b>Color</b></div>
                  <div class="col-sm-2">{{ event_type.get_color_hex() }}</div>
                  <div class="col-sm-1 text-right"><b>Order</b></div>
                  <div class="col-sm-2">{{ event_type.get_order_in_list() }}</div>
              </div>
          </div>
        </div>

        <!--  Relationships  -->
        <h2>Relationships</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Rules</h3>
          </div>
          <div class="table-responsive">
              <table class="table table-bordered table-condensed">
                  {% if event_type.rules.all() == [] %}
                  <tr>
                      <td class="text-center"><strong>This event type has no defined rules.</strong></td>
                  </tr>
                  {% else %}
                  <tr>
                      <td class="col-sm-1"><strong>ID</strong></td>
                      <td class="col-sm-1"><strong>Order</strong></td>
                      <td class="col-sm-7"><strong>Conditions</strong></td>
                      <td class="col-sm-2 text-center"><strong>Result</strong></td>
                      <td class="col-sm-1 text-center"><strong>Color</strong></td>
                  </tr>
                      {% for rule in event_type.get_rules() %}
                  <tr>
                      <td class="col-sm-1">{{ rule.id }}</td>
                      <td class="col-sm-1"><a href="#" data-toggle="modal" data-target="#ruleNo{{ rule.id }}Modal">{{ rule.order }}</a></td>
                      <td class="col-sm-7">{{ rule.get_conditions_all_string() }}</td>
                      <!--  These should be colored.  -->
                      <td class="col-sm-2 text-center {% if rule.color_hex != '' %}colored-row{% endif %}" {% if rule.color_hex != '' %}bgcolor="{{ rule.color_hex }}"{% endif %}">{{ rule.result }}</td>
                      <td class="col-sm-1 text-center {% if rule.color_hex == '' %} not-available{% endif %}{% if rule.color_hex != '' %}colored-row{% endif %}" {% if rule.color_hex != '' %}bgcolor="{{ rule.color_hex }}"{% endif %}">{{ rule.get_color_hex() }}</td>
                  </tr>
                      {% endfor %}
                  {% endif %}
              </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Events</h3>
          </div>
          <div class="table-responsive">
              <table class="table table-bordered table-condensed">
                  {% if event_type.events.all() == [] %}
                  <tr>
                      <td class="text-center"><strong>This event type has no events.</strong></td>
                  </tr>
                  {% else %}
                  <tr>
                      <td class="col-sm-1"><strong>ID</strong></td>
                      <td class="col-sm-6"><strong>Name</strong></td>
                      <td class="col-sm-2"><strong>Type</strong></td>
                      <td class="col-sm-1"><strong>Color</strong></td>
                      <td class="col-sm-2"><strong>Game</strong></td>
                  </tr>
                      {% for event in event_type.get_events() %}
                  <tr>
                      <td class="col-sm-1">{{ event.id }}</td>
                      <td class="col-sm-6">{{ event.name }}</td>
                      <td class="col-sm-2">{{ event.event_type.name }}</td>
                      <td class="col-sm-1{% if event.color_hex == '' %} not-available{% endif %}">{{ event.get_color_hex() }}</td>
                      <td class="col-sm-2">{{ event.game.name_display }}</td>
                  </tr>
                      {% endfor %}
                  {% endif %}
              </table>
          </div>
        </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="addRuleModal" tabindex="-1" role="dialog" aria-labelledby="addRuleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="addRuleModalLabel">Add rule</h4>
          </div>
          <div class="modal-body">
              <form role="form" class="form-horizontal" method="post">

                {{ form_add_rule.hidden_tag() }}

                <div class="form-group">
                    <div>
                        <label class="col-sm-2 control-label">{{ form_add_rule.order.label }}</label>
                        <div class="col-sm-2">
                            {{ form_add_rule.order(class_="form-control", placeholder="1") }}
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-2 control-label">{{ form_add_rule.result.label }}</label>
                        <div class="col-sm-2">
                            {{ form_add_rule.result(class_="form-control", placeholder="win") }}
                        </div>
                    </div>
                    <div>
                        <label class="col-sm-2 control-label">{{ form_add_rule.color_hex.label }}</label>
                        <div class="col-sm-2">
                            {{ form_add_rule.color_hex(class_="form-control", placeholder="#000000") }}
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div>
                        <label class="col-sm-2 control-label">{{ form_add_rule.operand_1.label }}</label>
                        <div class="col-sm-3">
                            {{ form_add_rule.operand_1(class_="form-control") }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_add_rule.operator(class_="form-control") }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_add_rule.operand_2(class_="form-control") }}
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="col-sm-12">
                      {{ form_add_rule.submit_add_rule(class_="btn btn-info btn-block") }}
                    </div>
                </div>

              </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <!--  Edit rule modals  -->
    {% for rule in event_type.get_rules() %}
    <div class="modal fade" id="ruleNo{{ rule.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="ruleNo{{ rule.id }}Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="ruleNo{{ rule.id }}Label">Rule #{{ rule.order }}</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>ID</b></div>
                  <div class="col-sm-10 text-left">{{ rule.id }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Order</b></div>
                  <div class="col-sm-2 text-left">{{ rule.order }}</div>
                  <div class="col-sm-2 text-right"><b>Result</b></div>
                  <div class="col-sm-2 text-left">{{ rule.result }}</div>
                  <div class="col-sm-2 text-right"><b>Color</b></div>
                  <div class="col-sm-2 text-left">{{ rule.get_color_hex() }}</div>
              </div>

              <hr>

              <h5>Conditions:</h5>
              <div class="row">
                  <div class="col-sm-12 text-left">
                      <p>
                          {{ rule.get_conditions_all_string() }}
                      </p>
                  </div>
              </div>

              <div class="modal-footer">
                  <a href="{{ url_for('add_rule_condition', id=rule.id) }}"><button type="button" class="btn btn-info">Add condition</button></a>
                  <a href="#"><button type="button" class="btn btn-info">Edit rule</button></a>
                  <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    {% endfor %}

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="deleteModalLabel">Delete event type</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete the "{{ event_type.name }}" event type? Deleting an event type with events assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_event_type', id=event_type.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}