{% extends "events_base.html" %}

{% block events_content %}

    <div>
        <table class="table table-bordered table-condensed">

            {% if events == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no events in the database.</b></td>
            </tr>
            {% else %}
            <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-7"><strong>Name</strong></td>
                <td class="col-sm-1 text-center"><strong>Type</strong></td>
                <td class="col-sm-2"><strong>Game</strong></td>
            </tr>
                {% for event in events %}
            <tr>
                <td class="col-sm-1">{{ event.id }}</td>
                <td class="col-sm-7">{{ event.name }}</td>
                <td class="col-sm-1 text-center">{{ event.event_type.name }}</td>
                <td class="col-sm-2">{{ event.get_game() }}</td>
            </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}