{% extends "games_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block games_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if game %}
                        <li><a href="{{ url_for('edit_game_general', id=game.id) }}"><button type="button" class="btn btn-primary">Edit general info</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#textModal">Add text</button></a></li>
                        <li><a href="{{ url_for('edit_game_platforms', id=game.id) }}"><button type="button" class="btn btn-info">Edit platforms</button></a></li>
                        <li><a href="{{ url_for('add_activity', game_id=game.id) }}"><button type="button" class="btn btn-info">Add activity</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#changeStateModal">Change state</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete game</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Display name</b></div>
                  <div class="col-sm-4">{{ game.name_display }}</div>
                  <div class="col-sm-2 text-right"><b>Developed by</b></div>
                  <div class="col-sm-4"><a href="{{ url_for('detail_company', id=game.developer.id) }}">{{ game.developer.name_display }}</a></div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Short name</b></div>
                  <div class="col-sm-4">{{ game.name_short }}</div>
                  <div class="col-sm-2 text-right"><b>Released</b></div>
                  <div class="col-sm-4">{{ game.get_date_released() }}</div>
              </div>
              {% if game.series != None %}
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Part of series</b></div>
                  <div class="col-sm-4">{{ game.get_series() }}</div>
                  <div class="col-sm-2 text-right"><b>No. in series</b></div>
                  <div class="col-sm-4">{{ game.order_in_series }}</div>
              </div>
              {% endif %}
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Genre</b></div>
                  <div class="col-sm-4">{{ game.genre.name }}</div>
                  <div class="col-sm-2 text-right"><b>Platform(s)</b></div>
                  <div class="col-sm-4">{{ game.get_platforms() }}</div>
              </div>

              <hr>

              <div class="row">
                  <div class="col-sm-2 text-right"><b>Date & time added</b></div>
                  <div class="col-sm-4">{{ game.get_datetime_added() }}</div>
                  <div class="col-sm-2 text-right"><b>Date & time last edited</b></div>
                  <div class="col-sm-4">{{ game.get_datetime_edited() }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Date & time last played</b></div>
                  <div class="col-sm-4">{{ game.get_datetime_played() }}</div>
                  <div class="col-sm-2 text-right"><b>State</b></div>
                  <div class="col-sm-4">{{ game.state.name }}</div>
              </div>
          </div>
        </div>

    <!--  Text  -->
    {% if texts != [] %}
    <div class="well">
        {% for text in texts %}
            {% if text.text_type == 0 %}
                <p>{{ text.content }} <small><a href="{{ url_for('delete_game_text', id=text.id) }}">[x]</a></small></p>
            {% endif %}
            {% if text.text_type == 1 %}
                <h2>{{ text.content }} <small><a href="{{ url_for('delete_game_text', id=text.id) }}">[x]</a></small></h2>
            {% endif %}
            {% if text.text_type == 2 %}
                <h3>{{ text.content }} <small><a href="{{ url_for('delete_game_text', id=text.id) }}">[x]</a></small></h3>
            {% endif %}
            {% if text.text_type == 3 %}
                <h4>{{ text.content }} <small><a href="{{ url_for('delete_car_text', id=text.id) }}">[x]</a></small></h4>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Activities</h3>
      </div>
      {% if game.activities.all() != [] %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('previous_activity', game_id=game.id) }}"><button type="button" class="btn btn-info">Previous</button></a></li>
                <li><a href="{{ url_for('next_activity', game_id=game.id) }}"><button type="button" class="btn btn-info">Next</button></a></li>
            </ul>
        </div>
      {% endif %}
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if game.activities.all() == [] %}
              <tr>
                  <td class="text-center"><strong>This game doesn't have any activities.</strong></td>
              </tr>
              {% else %}
              <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-1"><strong>Order</strong></td>
                <td class="col-sm-2"><strong>Name</strong></td>
                <td class="col-sm-7"><strong>Description</strong></td>
                <td class="col-sm-1 text-center"><strong>Controls</strong></td>
              </tr>

                {% for activity in activities %}
              <tr class="{% if activity.is_active %}active-line{% endif %}">
                <td class="col-sm-1">{{ activity.id }}</td>
                <td class="col-sm-1">{{ activity.order }}</td>
                <td class="col-sm-2">{{ activity.name }}</td>
                <td class="col-sm-7">{{ activity.description }}</td>
                  <td class="col-sm-1 text-center"><a href="{{ url_for('edit_activity', id=activity.id) }}">[edit]</a> <a href="{{ url_for('delete_activity', id=activity.id) }}">[x]</a></td>
              </tr>
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instances</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if game.instances.all() == [] %}
              <tr>
                  <td class="text-center"><strong>This game doesn't have any instances.</strong></td>
              </tr>
              {% else %}
                {% include "_instances_top.html" %}
                {% for instance in game.instances %}
                    {% with instance=instance %}
                        {% include "_instances_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="textLabel">Add text</h4>
          </div>
          <div class="modal-body">
              {{ wtf.quick_form(add_text_form, button_map={"submit_add_text": "info"}) }}
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="changeStateModal" tabindex="-1" role="dialog" aria-labelledby="changeStateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="changeStateModalLabel">Change state</h4>
          </div>
          <div class="modal-body">
              {{ wtf.quick_form(change_state_form, button_map={"submit_change_state": "info"}) }}
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="deleteModalLabel">Delete game</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ game.name_display }}? If you delete this game, it will go to deleted mode, but won't break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_game', id=game.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}