{% extends "games_base.html" %}

{% block games_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if genre %}
                        <li><a href="{{ url_for('edit_genre', id=genre.id) }}"><button type="button" class="btn btn-info">Edit genre</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete genre</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Name</b></div>
                  <div class="col-sm-10">{{ genre.name }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Realism</b></div>
                  <div class="col-sm-10">{{ genre.realism }}</div>
              </div>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Games</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if genre.games.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no games of this genre in the database.</strong></td>
              </tr>
              {% else %}
                {% include "_games_top.html" %}
                {% for game in genre.games %}
                    {% with game=game %}
                        {% include "_games_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete genre</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ genre.name }}? This action cannot be undone.</p>
              <p>Deleting a genre with games assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_genre', id=genre.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}