{% extends "games_base.html" %}

{% block games_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if games == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no games in the database.</b></td>
            </tr>
            {% else %}
            {% include "_games_top.html" %}
                {% for game in games %}
                    {% with game=game %}
                        {% include "_games_row.html" %}
                    {% endwith %}
            {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}