{% extends "games_base.html" %}

{% block games_content %}

    {% if not editing %}
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
        <span class="sr-only">66% Complete</span>
      </div>
    </div>
    {% endif %}

    <div>
        <form role="form" class="form-horizontal" method="post">

        {{ form.hidden_tag() }}

        <h2>Platforms</h2>
        <div class="form-group">
            <div>
                <label class="col-sm-2 control-label">{{ form.platforms.label }}</label>
                <div class="col-sm-10">
                    {{ form.platforms(class_="form-control input-lg") }}
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              {{ form.submit(class_="btn btn-primary btn-block") }}
            </div>
        </div>
    </form>
    </div>

{% endblock %}