{% extends "games_base.html" %}

{% block games_content %}

    <div>
        <table class="table table-hover table-striped table-bordered table-condensed">

            {% if games == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no games in the database.</b></td>
            </tr>
            {% else %}
            <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-3"><strong>Name</strong></td>
                <td class="col-sm-1"><strong>Short name</strong></td>
                <td class="col-sm-1"><strong>Year</strong></td>
                <td class="col-sm-2"><strong>Developer</strong></td>
                <td class="col-sm-1"><strong>Genre</strong></td>
                <td class="col-sm-1"><strong>Status</strong></td>
                <td class="col-sm-1"><strong>No. of instances</strong></td>
                <td class="col-sm-1"><strong>Last played</strong></td>
            </tr>

                {% for game in games %}
            <tr>
                <td class="col-sm-1">{{ game.id }}</td>
                <td class="col-sm-3">{{ game.name_display }}</strong></td>
                <td class="col-sm-1">{{ game.name_short }}</strong></td>
                <td class="col-sm-1">year</td>
                <td class="col-sm-2">developer</td>
                <td class="col-sm-1">genre</td>
                <td class="col-sm-1">status</td>
                <td class="col-sm-1">{{ game.no_of_instances }}</td>
                <td class="col-sm-1">last_played</td>
            </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}