{% extends "games_base.html" %}

{% block games_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if platform %}
                        <li><a href="{{ url_for('edit_platform', id=platform.id) }}"><button type="button" class="btn btn-info">Edit platform</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete platform</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Display name</b></div>
                  <div class="col-sm-10">{{ platform.name_display }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Short name</b></div>
                  <div class="col-sm-10">{{ platform.name_short }}</div>
              </div>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Games</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-striped table-bordered">
              {% if platform.games == [] %}
              <tr>
                  <td class="text-center"><strong>There are no games for this platform in the database.</strong></td>
              </tr>
              {% else %}
              <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-2"><strong>Name</strong></td>
                <td class="col-sm-1"><strong>Short name</strong></td>
                <td class="col-sm-2"><strong>Country</strong></td>
                <td class="col-sm-2"><strong>Description</strong></td>
                <td class="col-sm-1"><strong>Dev</strong></td>
                <td class="col-sm-1"><strong>Cars</strong></td>
                <td class="col-sm-1"><strong>Parts</strong></td>
            </tr>

                {% for company in company.owned_companies %}
            <tr>
                <td class="col-sm-1">{{ company.id }}</td>
                <td class="col-sm-2"><a href="{{ url_for('detail_company', id=company.id) }}">{{ company.name_display }}</a></td>
                <td class="col-sm-1">{{ company.get_name_short() }}</td>
                <td class="col-sm-2">{{ company.country.name_display }}</td>
                <td class="col-sm-2">{{ company.description }}</td>
                <td class="col-sm-1">{{ company.is_game_company() }}</td>
                <td class="col-sm-1">{{ company.is_car_company() }}</td>
                <td class="col-sm-1">{{ company.is_part_company() }}</td>
            </tr>
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete platform</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ platform.name_display }}? This action cannot be undone.</p>
              <p>Deleting a platform with games assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_platform', id=platform.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}