{% extends "instances_base.html" %}

{% block instances_content %}

    <div>
        <table class="table table-bordered">

            {% if instances == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no instances in the database.</b></td>
            </tr>
            {% else %}
            {% include "_instances_top.html" %}
                {% for instance in instances %}
                    {% with instance=instance %}
                        {% include "_instances_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}