{% extends "instances_base.html" %}

{% block instances_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if specializations == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There is no instance specialization in the database.</b></td>
            </tr>
            {% else %}
            <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-9"><strong>Name</strong></td>
                <td class="col-sm-1"><strong>Shortcut</strong></td>
                <td class="col-sm-1 text-center"><strong>Color</strong></td>
            </tr>

                {% for specialization in specializations %}
            <tr>
                <td class="col-sm-1">{{ specialization.id }}</td>
                <td class="col-sm-9"><a href="{{ url_for('detail_specialization', id=specialization.id) }}">{{ specialization.name_full }}</td>
                <td class="col-sm-1 text-center">{{ specialization.name_short }}</td>
                <td class="col-sm-1 text-center {% if specialization.color_hex %}colored-row{% endif %}" {% if specialization.color_hex %}bgcolor="{{ specialization.color_hex }}"{% endif %}>{{ specialization.color_hex }}</td>
            </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}