{% extends "instances_base.html" %}

{% block instances_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if instance_types == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no instance types in the database.</b></td>
            </tr>
            {% else %}
            <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-9"><strong>Name</strong></td>
                <td class="col-sm-1 text-center"><strong>Shortcut</strong></td>
                <td class="col-sm-1 text-center"><strong>Color</strong></td>
            </tr>

                {% for instance_type in instance_types %}
            <tr>
                <td class="col-sm-1">{{ instance_type.id }}</td>
                <td class="col-sm-9"><a href="{{ url_for('detail_instance_type', id=instance_type.id) }}">{{ instance_type.name_full }}</a></td>
                <td class="col-sm-1 text-center">{{ instance_type.name_short }}</td>
                <td class="col-sm-1 text-center {% if instance_type.color_hex %}colored-row{% endif %}
                                                {% if instance_type.color_hex == '' %} not-available{% endif %}" {% if instance_type.color_hex %}bgcolor="{{ instance_type.color_hex }}"{% endif %}>{{ instance_type.get_color_hex() }}</td>
            </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}