{% extends "misc_competitions_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block competitions_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if competition %}
                        <li><a href="{{ url_for('edit_competition', id=competition.id) }}"><button type="button" class="btn btn-info">Edit competition</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#textModal">Add text</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete competition</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Display name</b></div>
                  <div class="col-sm-10">{{ competition.name_display }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Short name</b></div>
                  <div class="col-sm-4">{{ competition.name_short }}</div>
                  <div class="col-sm-2 text-right"><b>Is virtual?</b></div>
                  <div class="col-sm-4">{{ competition.get_is_virtual() }}</div>
              </div>
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Started</b></div>
                  <div class="col-sm-4">{{ competition.get_date_started() }}</div>
                  <div class="col-sm-2 text-right"><b>Ended</b></div>
                  <div class="col-sm-4">{{ competition.get_date_ended() }}</div>
              </div>
          </div>
        </div>
    </div>

    <!--  Text  -->
    {% if competition.texts.all() != [] %}
    <div class="well">
        {% for text in competition.texts %}
            {% if text.text_type == 0 %}
                <p>{{ text.content }} <small><a href="{{ url_for('delete_competition_text', id=text.id) }}">[x]</a></small></p>
            {% endif %}
            {% if text.text_type == 1 %}
                <h2>{{ text.content }} <small><a href="{{ url_for('delete_competition_text', id=text.id) }}">[x]</a></small></h2>
            {% endif %}
            {% if text.text_type == 2 %}
                <h3>{{ text.content }} <small><a href="{{ url_for('delete_competition_text', id=text.id) }}">[x]</a></small></h3>
            {% endif %}
            {% if text.text_type == 3 %}
                <h4>{{ text.content }} <small><a href="{{ url_for('delete_competition_text', id=text.id) }}">[x]</a></small></h4>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!--  Cars  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cars</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if cars == [] %}
              <tr>
                  <td class="text-center"><strong>There are no cars that took part in this competition in the database</strong></td>
              </tr>
              {% else %}
                {% include "_cars_top.html" %}
                {% for car in cars %}
                    {% with car=car %}
                        {% include "_cars_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="textLabel">Add text</h4>
          </div>
          <div class="modal-body">
              {{ wtf.quick_form(add_text_form, button_map={"submit_add_text": "info"}) }}
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete competition</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ competition.name_display }}? This action cannot be undone.</p>
              <p>Deleting a competition with cars assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_competition', id=competition.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}