{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Car Database{% else %}Pan Vidla's Car Database{% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{url_for('static', filename='css/car-database.css')}}" rel="stylesheet">
{% endblock %}

<!-- Menu -->
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="hover-underline-animation" href="#">All cars</a></li>
                    <li><a class="hover-underline-animation" href="#">All instances</a></li>
                    <li><a class="hover-underline-animation" href="#"><b>Add car</b></a></li>
                    <li><a class="hover-underline-animation" href="#">Crazy Taxi</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hover-underline-animation" data-toggle="dropdown">Forza <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Forza Horizon 4</a></li>
                          <li><a href="#">Forza Horizon 5</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hover-underline-animation" data-toggle="dropdown">Need for Speed <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Need for Speed III: Hot Pursuit</a></li>
                          <li><a href="#">Need for Speed: Road Challenge</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Misc.</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="page-header">
            <h1>Overview</h1>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped table-condensed">

                <tr>
                    <td class="col-sm-1"><b>No.</b></td>
                    <td class="col-sm-3"><b>Car</b></td>
                    <td class="col-sm-1"><b>Nickname</b></td>
                    <td class="col-sm-1"><b>Event type</b></td>
                    <td class="col-sm-1"><b>Specialization</b></td>
                    <td class="col-sm-2"><b>Game</b></td>
                </tr>
                <tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">1234 Test Car</a></td>
                    <td class="col-sm-1">Rider</td>
                    <td class="col-sm-1">road racing</td>
                    <td class="col-sm-1">handling</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr>
                <tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr><tr>
                    <td class="col-sm-1">#</td>
                    <td class="col-sm-3"><a href="#">5678 Test Car 2</a></td>
                    <td class="col-sm-1">Speeder</td>
                    <td class="col-sm-1">dirt racing</td>
                    <td class="col-sm-1">straight-line speed</td>
                    <td class="col-sm-2">Test Game Unlimited</td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}
