{% extends "parts_base.html" %}

{% block parts_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if transmissions == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no transmissions in the database.</b></td>
            </tr>
            {% else %}
            {% include "_transmissions_top.html" %}
                {% for transmission in transmissions %}
                    {% with transmission=transmission %}
                        {% include "_transmissions_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}