{% extends "parts_base.html" %}

{% block parts_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if forced_induction_parts == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There is no forced induction in the database.</b></td>
            </tr>
            {% else %}
            {% include "_forced_induction_top.html" %}
                {% for forced_induction in forced_induction_parts %}
                    {% with forced_induction=forced_induction %}
                        {% include "_forced_induction_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}