{% extends "parts_base.html" %}

{% block parts_content %}

    <div>
        <table class="table table-hover table-bordered table-striped">

            {% if engines == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no engines in the database.</b></td>
            </tr>
            {% else %}
            {% include "_engines_top.html" %}
                {% for engine in engines %}
                    {% with engine=engine %}
                        {% include "_engines_row.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}