{% extends "parts_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block parts_content %}

    <!-- Sub-sub-menu -->
    {% block subsubmenu %}
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if suspension %}
                        <li><a href="{{ url_for('edit_suspension', id=suspension.id) }}"><button type="button" class="btn btn-info">Edit suspension</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#textModal">Add text</button></a></li>
                        <li><a href="#"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete suspension</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <!--  Content  -->
    <h2>General information</h2>
    <div>
        <div class="panel panel-primary">
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-2 text-right"><b>Full name</b></div>
                  <div class="col-sm-4">{{ suspension.name_full }}</div>
                  <div class="col-sm-2 text-right"><b>Short name</b></div>
                  <div class="col-sm-4">{{ suspension.name_short }}</div>
              </div>
          </div>
        </div>
    </div>

    <!--  Text  -->
    {% if suspension.texts.all() != [] %}
    <div class="well">
        {% for text in suspension.texts %}
            {% if text.text_type == 0 %}
                <p>{{ text.content }} <small><a href="{{ url_for('delete_suspension_text', id=text.id) }}">[x]</a></small></p>
            {% endif %}
            {% if text.text_type == 1 %}
                <h2>{{ text.content }} <small><a href="{{ url_for('delete_suspension_text', id=text.id) }}">[x]</a></small></h2>
            {% endif %}
            {% if text.text_type == 2 %}
                <h3>{{ text.content }} <small><a href="{{ url_for('delete_suspension_text', id=text.id) }}">[x]</a></small></h3>
            {% endif %}
            {% if text.text_type == 3 %}
                <h4>{{ text.content }} <small><a href="{{ url_for('delete_suspension_text', id=text.id) }}">[x]</a></small></h4>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!--  Relationships  -->
    <h2>Relationships</h2>
    <!--  Cars  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cars (front)</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if suspension.cars_front.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no cars in the database that use this kind of suspension in the front.</strong></td>
              </tr>
              {% else %}
                {% include "_cars_top.html" %}
                {% for car in suspension.cars_front %}
                    {% with car=car %}
                        {% include "_cars_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cars (rear)</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if suspension.cars_rear.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no cars in the database that use this kind of suspension in the rear.</strong></td>
              </tr>
              {% else %}
                {% include "_cars_top.html" %}
                {% for car in suspension.cars_rear %}
                    {% with car=car %}
                        {% include "_cars_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Instances  -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instances (front)</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if suspension.instances_front.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no instances in the database that use this kind of suspension in the front.</strong></td>
              </tr>
              {% else %}
                {% include "_instances_top.html" %}
                {% for instance in suspension.instances_front %}
                    {% with instance=instance %}
                        {% include "_instances_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instances (rear)</h3>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-condensed">
              {% if suspension.instances_rear.all() == [] %}
              <tr>
                  <td class="text-center"><strong>There are no instances in the database that use this kind of suspension in the rear.</strong></td>
              </tr>
              {% else %}
                {% include "_instances_top.html" %}
                {% for instance in suspension.instances_rear %}
                    {% with instance=instance %}
                        {% include "_instances_row.html" %}
                    {% endwith %}
                {% endfor %}
              {% endif %}
          </table>
      </div>
    </div>

    <!--  Modals  -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="textLabel">Add text</h4>
          </div>
          <div class="modal-body">
              {{ wtf.quick_form(add_text_form, button_map={"submit_add_text": "info"}) }}
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete suspension</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete {{ suspension.name_full }} suspension? This action cannot be undone.</p>
              <p>Deleting suspension with cars assigned to it could break the database.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a href="{{ url_for('delete_suspension', id=suspension.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

{% endblock %}