<li><a class="hover-underline-animation" href="{{ url_for('need_for_speed.high_stakes.overview_classes') }}">Classes</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('need_for_speed.high_stakes.overview_events_all') }}">All events</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="{{ url_for('need_for_speed.high_stakes.overview_events_arcade') }}">Arcade events</a></li>
        <li><a href="#">Career events</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="{{ url_for('overview_event_types') }}">Event types</a></li>
    </ul>
</li>
<li><a class="hover-underline-animation" href="{{ url_for('need_for_speed.high_stakes.overview_tracks') }}">Tracks</a></li>