{% extends "instances_base.html" %}

{% block instances_content %}

    <div>
        <table class="table table-bordered table-condensed">

            {% if arcade_events == [] %}
            <tr>
                <td class="col-sm-12 text-center"><b>There are no Need for Speed: High Stakes arcade events in the database.</b></td>
            </tr>
            {% else %}
            <tr>
                <td class="col-sm-1"><strong>ID</strong></td>
                <td class="col-sm-3"><strong>Name</strong></td>
                <td class="col-sm-1 text-center"><strong>Type</strong></td>
                <td class="col-sm-1 text-center"><strong>No. of participants</strong></td>
                <td class="col-sm-1 text-center"><strong>No. of laps</strong></td>
                <td class="col-sm-1 text-center"><strong>Skill level</strong></td>
                <td class="col-sm-1 text-center"><strong>Restictions</strong></td>
                <td class="col-sm-1 text-center"><strong>Ranked</strong></td>
                <td class="col-sm-1 text-center"><strong>Color</strong></td>
                <td class="col-sm-2"><strong>Series</strong></td>
            </tr>

                {% for event in arcade_events %}
            <tr>
                <td class="col-sm-1">{{ event.id }}</td>
                <td class="col-sm-5"><a href="#">{{ event.name }}</a></td>
                <td class="col-sm-1 text-center">{{ event.event_type.name }}</td>
                <td class="col-sm-1 text-center">{{ event.no_of_participants }}</td>
                <td class="col-sm-1 text-center">{{ event.no_of_laps }}</td>
                <td class="col-sm-1 text-center">{{ event.get_skill_level() }}</td>
                <td class="col-sm-1 text-center">{{ event.get_car_restriction() }}</td>
                <td class="col-sm-1 text-center">{{ event.get_is_ranked() }}</td>
                <td class="col-sm-1 text-center {% if event.color_hex %}colored-row{% endif %}" {% if event.color_hex %}bgcolor="{{ event.color_hex }}"{% endif %}>{{ event.color_hex }}</td>
                <td class="col-sm-2">series</td>
            </tr>
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}