.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-line {
    color: #ffffff;
    background: #5bc0de;
}

.active-line a {
    color: #ffffff;
    background: #5bc0de;
}

.colored-row {
    color: #ffffff;
}

.colored-row a {
    color: #ffffff;
}

.fictional {
    color: #ffffff;
    background: #bc73d1;
}

.fictional a {
    color: #ffffff;
    background: #bc73d1;
}

.genre-arcade {
    color: #ffffff;
    background: #d91c07;
}

.genre-arcade-simcade {
    color: #ffffff;
    background: #f74f1b;
}

.genre-simcade {
    color: #ffffff;
    background: #ed8002;
}

.genre-simcade-simulation {
    color: #ffffff;
    background: #edaf02;
}

.genre-simulation {
    color: #ffffff;
    background: #d6b706;
}

.is-complete {
    color: #ffffff;
    background: #e6c200;
}

.is-complete a {
    color: #ffffff;
    background: #e6c200;
}

.is-for-collection {
    color: #ffffff;
    background: #b1b2b3;
}

.is-for-collection a {
    color: #ffffff;
    background: #b1b2b3;
}

.is-complete-and-for-collection {
    color: #ffffff;
    background: #aa6c39;
}

.is-complete-and-for-collection a {
    color: #ffffff;
    background: #aa6c39;
}

.not-available {
    color: #cccccc;
}

.state-100 {
    color: #ffffff;
    background: #d91c07;
}

.state-aborted {
    color: #ffffff;
    background: #000000;
}

.state-complete {
    color: #ffffff;
    background: #d6b706;
}

.state-in-progress {
    color: #ffffff;
    background: #5bc0de;
}

.state-not-started {
    color: #ffffff;
    background: #b1b2b3;
}

.state-paused {
    color: #ffffff;
    background: #b1b2b3;
}

.record-lap {
    color: #ffffff;
    background: #5bc0de;
}

.record-lap-current {
    color: #ffffff;
    background: #A020F0;
}

.record-track {
    color: #ffffff;
    background: #5bc0de;
}

.record-track-current {
    color: #ffffff;
    background: #A020F0;
}

.result-win {
    color: #ffffff;
    background: #FFD700;
}

.result-podium-2 {
    color: #ffffff;
    background: #c0c0c0;
}

.result-podium-3 {
    color: #ffffff;
    background: #CD7F32;
}

.result-loss {
    color: #ffffff;
    background: #8B0000;
}

.result-dnf {
    color: #ffffff;
    background: #000000;
}

.true-neutral {
    color: #ffffff;
    background: #5bc0de;
}

.false-neutral {
    color: #ffffff;
    background: #b1b2b3;
}

.nfs3-result-busted {
    color: #ffffff;
    background: #000000;
}

.nfs3-result-didnt-meet-quota {
    color: #ffffff;
    background: #8B0000;
}

.nfs3-result-most-wanted {
    color: #ffffff;
    background: #5bc0de;
}

.nfs3-result-top-cop {
    color: #ffffff;
    background: #5bc0de;
}
